@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global */
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* nav */
.nav {
  display: flex;
  width: 1050px;
  height: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .logo img {
  width: 45px;
}

.nav .logo h1 {
  letter-spacing: 1px;
  margin-left: 10px;
}

.nav .list {
  display: flex;
  flex-direction: row;
  margin-left: 104px;
}

.nav .list ul {
  display: flex;
  align-items: center;
}

.nav .list ul li {
  margin: 0 20px;
  position: relative;
}

.nav .list ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0%;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.nav .list ul li:hover::after {
  opacity: 1;
  width: 100%;
}

.nav .list ul li:first-child {
  margin-left: 0;
}

.nav .list ul li:last-child {
  margin-right: 0;
}

.nav .list ul li a{
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

.nav div button {
  cursor: pointer;
  background: #121212;
  color: #FAFAFA;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.nav .humb-menu {
  display: none;
}
/* nav */


.hero {
  height: 87.4vh;
  background: #121212;
  display: flex;
  align-items: center;
}

.hero .hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hero .hero-content .hero-content-text {
      display: flex;
    flex-direction: column;
    color: #FAFAFA;
    width: 100%;
    margin-top: 47px;
}

.hero .hero-content .hero-content-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  width: 85%;
}

.hero .hero-content .hero-content-text h1 span {
  background: #FCED65;
  color: #000;
}

.hero .hero-content .hero-content-text h3 {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  width: 71.5%;
  margin: 30px 0;
}

.hero .hero-content .hero-content-text button {
  cursor: pointer;
  background: #FAFAFA;
  color: #0B0A0A;
  padding: 13px 0;
  border-radius: 8px;
  width: 34%;
  border: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 35px;
}

.hero .hero-content .hero-content-text .bottom {
  display: flex;
  flex-direction: column;
}

.hero .hero-content .hero-content-text .bottom .bottom-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.hero .hero-content .hero-content-text .bottom .bottom-top h5 {
  font-size: 14px;
  font-weight: 300;
}

.hero .hero-content .hero-content-text .bottom .bottom-top i {
  font-size: 22px;
}

.hero .hero-content .hero-content-text .bottom .bottom-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 73%;
  position: relative;
  margin-top: 15px
}

.hero .hero-content .hero-content-text .bottom .bottom-bottom::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(18,18,18,0.2) 0%, rgba(255,255,255,0.05) 100%);
  border-radius: 30px;
  z-index: 2;
}


.hero .hero-content .hero-content-text .bottom .bottom-bottom img {
  padding: 24px;
  background: #fff;
  border-radius: 21px;
  z-index: 3;
}

.hero .hero-content .hero-content-text .bottom .bottom-bottom .second {
  padding: 26.5px 15.5px;
}

.hero .hero-content .hero-content-text .bottom .bottom-bottom .third {
  padding: 25px 29.5px;
}

.hero .hero-content .hero-content-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.hero .hero-content .hero-content-photo img{
  width: 277px;
  z-index: 2;
}

.hero .hero-content .circle {
  content: '';
  position: absolute;
  border: 1px solid #FCED65;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  opacity: 0.5;
  left: 180px;
  top: 0;
  animation: spinAround-inverse 5s linear infinite;
}

.hero .hero-content .circle-yellow {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background-color: #fdec57;
  border-radius: 50%;
  top: 248px;
  left: 112px;
  animation: spinAround 5s linear infinite;
}

.hero .hero-content .circle-gredient {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  top: 447px;
  left: 313px;
  background: linear-gradient(180deg, #DEDEDE 38.54%, rgba(222, 222, 222, 0) 100%);
  animation: oneLine 5s linear infinite alternate;
}

@keyframes spinAround-inverse {
  from {
    transform: rotate(360deg) translate(10px);
  }
  to {
    transform: rotate(0deg) translate(10px);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg) translate(90px);
  }
  to {
    transform: rotate(360deg) translate(90px);
  }
}

@keyframes oneLine {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-175px);
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 1124px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 950px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 800px;
  }
  .nav .logo img {
    width: 40px;
  }
  .nav .logo h1 {
    font-size: 16px;
  }
  .nav .list ul li {
    margin: 0 10px;
  }
  .nav .list ul li a {
    font-size: 14px;
  }
  .nav div button {
    padding: 6px 18px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 700px;
  }
  .nav div button {
    padding: 5px 10px;
    margin-left: 0px;
    font-size: 11px;
  }
  .nav .list ul li a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 520px;
  }
  .nav {
    justify-content: space-between;
    position: relative;
  }
  .nav .list {
    position: absolute;
    justify-content: center;
    left: 50%;
    top: 80px;
    width: 100%;
    border: 1px solid #000;
    transform: translateX(-50%);
    background: #fff;
  }
  .nav .list ul {
    flex-direction: column;
  }
  .nav .list ul li {
    margin: 10px 0px;
  }
  .nav .list ul li:hover::after {
    opacity: 0;
  }
  .nav div button {
    padding: 8px 10px;
    margin-left: -85px;
    font-size: 15px;
  }
  .nav .humb-menu {
    display: block;
    color: #000;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 450px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 350px;
  }
  .nav .logo h1 {
    display: none;
  }
  .nav div button {
    margin-left: -30px;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    width: 310px;
  }
  
}

@media only screen and (max-width: 320px) {
  .container {
    width: 280px;
  }
}


